$primary: #EC2027;
$secondary: #000054;
$gray-5: #AFAFAF;

@import '~bootstrap/scss/bootstrap';

.btn-outline-primary:active,
.btn-outline-primary:hover {
  color: white !important;
}

h1, h2 {
  margin: 0;
  font-family: "museo", serif;
  font-style: normal;
  font-weight: 500;
  color: white;
  background-color: $primary;
}

h1 {
  font-weight: 700;
}

.hero-title {
  background-color: $primary;
}

.team-year{
  margin: 0;
  font-family: "museo", serif;
  font-style: normal;
  font-weight: 500;
  color: $primary;
  background-color: "transparent";
}

.impact-line {
  background-color: $primary;
}


body, h3, h4, h5, p, tr {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue LT Pro', sans-serif;
  font-weight: 45 light;
}

h3 {
  font-weight: 75 bold;
}

h4, h5 {
  font-weight: 55;
}

.text-primary {
  font-weight: 75;
  color: $primary;
}


.header-link {
  color: white !important;
  transition: color 0.3s ease-in-out; /* Add transition for smooth color change */
}

.header-link:hover,
.header-link.active {
  color: $primary !important;
}

.footer-copy {
  margin-top: 10px;
}

.footer-social-link {
  color: white;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.footer-social-link:hover {
  color: $primary;
}

.App {
  text-align: center;
}

.page-container {
  padding-bottom: 1em;
  margin-top: 1em;
}

.database-container {
  margin-top: 3em;
  border: 1px solid $gray-5;
  border-radius: 8px;
  padding: 1em;
  padding-top: 3em;
}

.sort-filter-box {
  color: $primary;
  width: 130px;
  height: 60px;
  float: right;
  margin-right: 20px;
  border: 1px solid $gray-5;
  border-radius: 20px;
  padding: 10px;
  background-color: #000000;
  margin-top: 15px;
}

.dropdown-toggle.no-caret::after {
  display: none;
}

.dropdown-button {
  display: inline-flex;
  height: 100%;
  width: 50%;
  cursor: pointer;
  color: $primary;
  align-items: center;
  justify-content: center;

}

.dropdown-button:hover {
  background-color: $gray-5;
  border-radius: 10px;
}

.table-selection-box{
  color: $primary;
  width: 350px;
  height: 60px;
  float: left;
  margin-left: 20px;
  border: 1px solid $gray-5;
  border-radius: 20px;
  padding: 10px;
  background-color: #000000;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.table-button {
  background-color: transparent;
  color: white;
  font-size: 1.2em;
  border: 1px solid $gray-5;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.table-button:hover {
  background-color: $primary;
  border-radius: 10px;
  color: white
}

.table-wrapper {
  width: 100%;
  padding-bottom: 10px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-gutter: stable;
  scrollbar-width: 10px;
  scrollbar-color: #{$gray-5} transparent;
}

.table-wrapper::-webkit-scrollbar {
  height: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: $gray-5;
  border-radius: 8px;
  border: 2px solid transparent; /* gives some padding around the thumb */
}

.table-wrapper table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
}

table {
  color: white;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $gray-5;
  background-color: rgba($color: #000000, $alpha: 1.0);
}

table thead th {
  background-color: $primary;
}

a {
  color: $primary;
}

.navbar {
  background-color: black!important; /* Override Bootstrap navbar background color to black */
}

#root > div > footer {
  background-color: black !important; /* Set the background color of the footer to black */
}

.hidden-text-small {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  // font-size: 14px;
  // line-height: 1.4;

  width: 100%;     // <-- Important!
  min-width: 0;    // <-- Important if inside flex
  flex: 1 1 auto;  // <-- Important if inside flex
}

.hidden-text-large {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  // font-size: 14px;
  // line-height: 1.4;

  width: 100%;     // <-- Important!
  min-width: 0;    // <-- Important if inside flex
  flex: 1 1 auto;  // <-- Important if inside flex
}