# macOS system files
.DS_Store

# Build files
*.o
*.obj
*.exe
*.out
*.app
*.dSYM/
build/
bin/
CMakeFiles/
CMakeCache.txt

# Qt Creator / Qt files
*.user
*.pro.user*
*.qmake.stash
*.moc
*.qrc
*.ui
*.rcc

# Ignore personal university database
database/robot_logger.db

# Other IDEs
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
node_modules
