services:
  backend:
    build:
      context: ./backend
    ports:
      - "5001:5000"
    volumes:
      - ./backend:/app
      - ./database:/data
    environment:
      - FLASK_DEBUG=1
      - FLASK_ENV=production
      - DB_PATH=/data/robot_logger.db
    # restart: always

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
    stdin_open: true
    tty: true
    volumes:
      - ./frontend:/app
      - ./frontend/docker_entrypoint.sh:/docker_entrypoint.sh:ro
    depends_on:
      - backend
    environment:
      - NODE_ENV=production
      - REACT_APP_LAN_IP=10.0.51.101
    command: ["/bin/sh", "/docker_entrypoint.sh"]
