services:
  backend:
    build:
      context: ./backend
    ports:
      - "5001:5000"
    volumes:
      - ./backend:/app
      - ./database:/data
    environment:
      - FLASK_DEBUG=1
      - DB_PATH=/data/robot_logger.db
      # For deployment only
      - ALLOWED_ORIGINS=http://10.0.51.101:3000
    # restart: always

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
    stdin_open: true
    tty: true
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
    environment:
      - REACT_APP_API_BASE=http://backend:5001
